mat-form-field{
  width: 100%;
}

mat-card{
  width: 40%;
  margin: 20px auto;
  padding: 20px;
  /* background-color: rgb(252, 244, 95); */
  background-color: #46344E;
}

mat-spinner{
  margin: auto;
 }
.login-text{
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 22px;
}

.login-btn{
  margin-top: 20px;
  color: white;
  font-weight: 500;
}
.signup-link{
  color: rgb(84, 84, 227);
}

@media screen and (max-width:480px) {
  mat-card{
    width: 95%;
  }
}
