ul{
    display: flex;
    gap: 20px;
    font-size: 18px;
}
ul > li{
    list-style: none;
}
ul > li > a {
    text-decoration: none;
}
.active{
    border-radius: 14px;
    background: #c6aedd;
    padding: 4px 10px;
}