mat-dialog-actions{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 20px;
}
mat-dialog-content{
  margin-bottom: 10px;
}
.close-btn{
  background-color: black;
  color: white;
}
.task-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 10px auto;
}

.task-field {
  width: 100%;
}
.submit-btn{
  background-color: green;
  color: white;
  float: right;
}

.booking-date{
  width: 200px;
  padding: 10px;
  cursor: pointer;
}

.date-wrappar{
  background-color: #dadfea;
  padding: 8px 14px;
  border-bottom:1px solid black;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.selectdate-text{
  font-size: 16px;
}


input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}