<mat-dialog-actions>
  <div>
    <button mat-raised-button mat-dialog-close class="close-btn">Close</button>
  </div>
</mat-dialog-actions>
<h2 mat-dialog-title>Expense Detailed View</h2>
<mat-dialog-content>
  <p class="sub-heading">Table shows total expense of each type.</p>
  <div class="expense-table-wrapper" *ngFor="let item of expenseDetailedArray">
    <span class="description">{{ item.description }}</span>
    <span class="description">Rs. {{ item.amount }}</span>
  </div>
</mat-dialog-content>
