mat-spinner{
    margin: auto;
   }
   
   .edit-btn {
     margin-right: 10px;
     line-height: 1;
     min-width: 0;
     padding: 2px 10px 2px;
   }
   mat-card {
     margin: 2%;
     /* background-color: rgb(194, 193, 193); */
   }
   mat-card-header {
   
   
   }
   
   .header{
     display: flex;
     margin: 0px 20px;
     justify-content: space-between;
     align-items: center;
     /* margin-left: 0; */
   
   }
   .add-btn {
     background-color: #55c2da;
     align-self: flex-end;
     color: white;
     margin: 10px;
     margin-bottom: 20px;
   }
   
   .new-icon {
     height: 10px;
     width: 10px;
     border-radius: 50%;
     background-color: blue;
     display: inline-block;
     margin-left: -10px;
   }
   .new-icon1 {
     height: 10px;
     width: 10px;
     border-radius: 50%;
     /* background-color: blue; */
     display: inline-block;
     margin-left: -10px;
   
   
   }
   
   .table-body-tr:hover {
     background-color: rgb(193, 233, 241) !important;
   }
   .whatsapp-icon {
     height: 20px;
   }
   
   .no-results {
     padding: 150px 0px;
     text-align: center;
     font-size: large;
     font-weight: 500;
     color: darkgoldenrod;
   }
   .delete-btn{
     color: rgb(215, 68, 68);
     cursor: pointer;
     font-size: 20px;
   
   }
   .delete-btn:hover{
     color: black;
   
   }
   .bill{
     font-size: 20px;
   
   }
   .edit-btn{
     cursor: pointer;
     font-size: 20px;
   }
   .edit-btn:hover{
     cursor: pointer;
     color: rgb(215, 68, 68);
   }
   .bill:hover{
     cursor: pointer;
     color: rgb(215, 68, 68);
   
   }
   
   .action-container{
     display: flex;
     height: inherit;
     justify-content: space-evenly;
     align-items: center;
   
   }
   .table-header{
     background-color: rgb(59, 145, 126);
     color: white
   }
   
   mat-paginator{
     /* background-color: rgb(59, 145, 126); */
     /* color: white; */
     /* margin: 0 16px; */
     /* margin-bottom: 16px; */
     font-weight: 600;
     font-size: .8rem;
   }
   .search{
     background-color: aqua;
   }
   
   .status-color{
     padding: 5px 10px;
     border-radius: 30px;
   }
   .enquiry{
     background: rgb(251, 248, 248);
     border:1px solid black;
     color: black;
   }
   .NeedToSchedule{
     background-color: rgb(249, 181, 181);
     color: black;
     border: 1px solid red;
   }
   .ServiceCompleted{
     background-color: rgb(165, 237, 165);
     color: black;
     border: 1px solid green;
   }
   .PendingFromCustomer{
     background-color: rgb(249, 249, 125);
     color: black;
     border: 1px solid black;
   }
   .PendingFromD2d{
     background-color: rgb(72, 72, 72);
     color: white;
     border: 1px solid black;
   }
   .Cancelled{
     background-color: orange;
     color: white;
     border: 1px solid black;
   }
   .InProgress{
     background-color: rgb(218, 201, 53);
     color: white;
     border: 1px solid black;
   }
   .SlotBooked{
     background-color: rgb(179, 254, 142);
     color: black;
     border: 1px solid black;
   }
   .Complaint{
     background-color: rgb(244, 51, 51);
     color: white;
     border: 1px solid black;
   }
   
   
   .mat-form-field .mat-input-element {
     color: red; /* Replace with your desired text color */
   }
   
   .mat-form-field-underline {
     background-color: #ddd; /* Replace with your desired border color */
   }
   
   /* Focused border color */
   .mat-form-field-underline.mat-focused {
     background-color: #007bff; /* Replace with your desired border color */
   }
   
   mat-form-field{
     width: 350px;
     /* margin-left: 10px; */
   }
   
   .lable-box{
     padding: 20px;
   }
   
   mat-paginator{
     background-color: rgb(59, 145, 126);
   }
   .close-btn{
     position: absolute;
     right: 10px;
     cursor: pointer;
     color: #1a1b1f;
     font-weight: 600;
   }
   
   
   @media screen and (min-width:480px) {
     .bill-amount-box{
       display: flex;
     }
     
   }
   @media screen and (max-width:480px) {
     .add-btn{
       transform: scale(.8);
     }
     .search-input{
       transform: scale(.8);
     }
   
     mat-form-field{
       width: 250px;
       /* margin-left: 10px; */
     }
     .add-btn{
       margin: 10px;
       margin-top: 0;
       margin-left: 0;
       /* margin-bottom: 20px; */
   
     }
     .task-field-year{
       transform: scale(.7);
     }
     .header{
       flex-direction: column;
     }
     .first-box{
       margin-bottom: 20px;
     }
     .dates-box{
        display: flex;
     }
     
   }
   
   .task-field-year{
     width: 150px;
     margin-right: 10px;
   }
   
   .tota-service{
     color: white;
     font-weight: 600;
     margin-left: 10px;
     margin-right: 10px;
     background: #8ea1e0;
     padding: 10px;
     border-radius: 23px;
   }
   .bill-amount-box{
     background-color: #e8d476;
     padding: 12px;
     margin-bottom: 10px;
   }
   .bill-amount-box{
    background-color: #e8d476;
    padding: 12px;
    margin-bottom: 10px;
  }
  .tota-service{
    color: white;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    background: #8ea1e0;
    padding: 10px;
    border-radius: 23px;
  }